/*GERAIS*/
body{
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0px;
    margin-right: 0px;
}

.container{
    padding: 50px 0;
}

p, li {
    color:black ;
}

/* --------------------------------------- TELA INICIAL -----------------------------------------------------------------------------*/

/*BARRA DE NAVEGAÇÃO BRUNO MENDES*/
.navbar-toggler{

    right: 66px;
    }
    
    #nav1{
    border-bottom: 25px solid #666666 ;
    border-top: 25px solid #7E0000;
    
    }
    
    #rowCinza{
    
    border: #000;
    height: 25px;
    background-color: #666666;
    }
    
    header, .navbar{
    z-index: 1;
    background-color: #FFFFFF;
    
    }
    
    .navbar-brand{
    left: 66px;
    color: #FFFFFF;
    padding-top: 0px;
    }
    
    #nav2{
    height: auto;
    padding-left: 25px   ;
    padding-right: 25px;
    }
    
    .navbar-brand:hover {
    color: #000000;   
    }
    
    #navbar-links a{
    color: #000;
    font-size: 18px;
    }
    #navbar-links a:hover {
    background-color: #f5a0a071; /* Cor de fundo alterada */
    color: #000000; /* Cor do texto alterada */
    box-shadow: 0px 0px 10px #0000004e; /* Sombra adicionada */
    font-size: 20px;
    }
    
    
    .navbar-expand-lg .navbar .nav-link {
    padding: 1rem .8rem;
    }
    .custom-padding {
    padding-left: 15px;
    padding-right: 15px;
    }
    
/*APRENDA SCRUM BIANCA LUCAS */

#base-verde {
    background-color: #004854;
}

#para-scrum {
    color: white;
    width: 414px;
    font-weight: 600;
    font-size: 36px;
    margin-top: 8%;
    line-height: 54px;
    font-family: 'Lexend';
}

#botao-saiba-mais {
    color: white;
}

#titulo-aprenda {
    color: white;
    font-size: 48px;
    font-weight: 550;
    font-family: 'Lexend';
}

#margem1 {
    margin-top: 5%;
}

#margem2 {
    margin-top: 8%;
    margin-left: 7%;
}

#imgscrum {
    width: 100%;
}

#container {
    align-items: center;
}
/*NOSSO CURSO BIANCA LUCAS*/
#base-cinza{
    background-color: #F0F0F0;
    padding: 0px;
    background-image: url(../img/cps-fundo.png);
    background-repeat: no-repeat;
}

#imagem-carousel {
    width: 100%;
    height: 100%;
}

#botao-carousel {
    margin-left: -10%;
    margin-right: -10%;
    margin-top: 45%;
    width: 50px;
    height: 50px;
}

#paraCurso{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='dark-gray' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill= 'dark-gray' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

/*BOTÃO SAIBA MAIS BIANCA LUCAS */

#saiba-mais {
	background: #7E0000;
	color: white;
    border-radius: 25px;
    width: 320px;
    height: 80px;
    font-size: 36px;
    margin-top: 22%;
    margin-block-end: 20%;
    font-family: 'Merriweather';
}

#saiba-mais:hover {
	background: #943636;
	color: white;
    border-radius: 25px;
    width: 320px;
    height: 80px;
    font-size: 36px;
    margin-top: 22%;
    margin-block-end: 20%;
    font-family: 'Merriweather';
}

/*CARD MÓDULOS MARIANA RAMALHO*/

#cardTop{
	background-color:#004854;
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 150%;
	color: #FFFFFF;
}

#card-titulo{
	font-family: 'Roboto', sans-serif;
	color:black;
	text-align: left;
	overflow-wrap: break-word;
}

#card-text{
	font-family: 'Roboto', sans-serif;
	color:black;
	font-size: 20px;
	text-align: left;
	overflow-wrap: break-word;
}

#cardli{
	font-family: 'Roboto', sans-serif;
	color:black;
	font-weight: 400;
	font-size: 20px
}

#botaoiniciar{
	background-color: #7e0000;
	font-weight: 700;
	font-size: 36px;
	line-height: 150%;
	width: 320px;
	height: 80px;
	border: 0px;
}

#botao-iniciar{
    color: white;
}

/*OS DESENVOLVEDORES WILLIAN GARCIA E LUIS EDUARDO*/

#texto-dev p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #292929;
}

#texto-dev h1{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #004854;
}

#dese{
    background-color: #F0F0F0;
    background-image: url("../img/Padrão Cinza.png");
    background-repeat: no-repeat;
}

#dese2{
    padding: 66px;
}
/*CARDS TIME THEPERRYDEVS*/

#teamcardtotal{
    width: 350px;
    height: 455px;
    border: hidden;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    resize: horizontal;
}

#teamcardheader{
    position: relative;
    width: 350px;
    height:130px;
    background-color: #F0F0F0;
    border: none;
    display: flex;
}

#teamcardbody{
    position: relative;
    width: 350px;
    height: 350px;
    background: white;
    border-top: 10px solid #004854;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#teamimgBx{
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    background: black;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}

#teamimgBxphoto{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
}

#teamcardcontent{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#teamcarddetails{
    padding: 50px;
    text-align: center;
    width: 100%;
}

#teamcarddetailsh2{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-size: 1.50em;
    font-weight: 700;
    color: #292929;
    line-height: 2.55em;
}

#teamcarddetailsspan{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-size: 1em;
    font-weight: 700;
    line-height: 0.75em;
}

#proximo{
    left:inherit;
    right: 4%;
}

#voltar{
    right: inherit;
    left: 0%;
}

    

/*CONTATO RAFAEL ESTEVAM*/
#ctt-bg{
    background-color: #004854;
}

#titulo-ctt{
    text-align: center ;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 550;
    font-family: 'Lexend';
}

#img-git{
    width: 90%;
}

#img-ctt{
    width: 90%;
}

/*RODAPÉ RAFAEL ESTEVAM*/
#foot{
    width: 100%;
    border-bottom: 1rem solid #7E0000;
    border-top: 1rem solid #666666;
}

#contact-area1{
    padding: 0px;
}


/* --------------------------------------- TELA CONTEÚDO -----------------------------------------------------------------------------*/


/*BARRA DE NAVEGAÇÃO HECLAIR */
#navCurso{
    background-color: #DADADA;
    width: 100%;
}

#navCurso li{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

#navBarT2{
    z-index: 4;
    padding: 0px;
}


/*CARROSSEL LUIS EDUARDO*/

.carousel-control-prev:hover #volta{
    background-color: #0D99FF;
}

.carousel-control-next:hover #continua{
    background-color: #0D99FF;
}

#Slideb{
    background-color: #000000;
    position: relative;
}

#pagina{
    background-color: #D9D9D9;
    max-height: max-content;     
}

#meuCarrossel{
    padding-top: 10px;
}

/*BOTÕES DANIEL DORNELAS */


/*RODAPÉ RAFAEL ESTEVAM */



#foot2{
    background-color: #D9D9D9;
}
